// Analysis parameters

params.step1_bgen = '/gpfs/space/home/a82371/MAGE/regenie_working_files/MAGE_pruned_unphased_QC_chr1_22_STEP_1_unphased_indep_fix.bgen'
params.sample = '/gpfs/space/home/a82371/MAGE/regenie_working_files/MAGE_pruned_chr1_22_unphaseds_STEP1_added_sex_fixed_variants.sample'
params.step2_bgen = '/gpfs/space/home/a82371/MAGE/regenie_working_files/MAGE_filtered_samples_MAF_corrected_w_DS_unphased_STEP2_chr1_22_QC.bgen'

params.phenotype_file = '/gpfs/space/home/a82371/MAGE/regenie_working_files/MAGE_LCL_qcnormed_tmp_filt_gene_normalized_QC_ge.tsv'
params.included_phenotype_ids = '/gpfs/space/home/a82371/MAGE/regenie_working_files/MAGE_analyzed_genes.tsv'
params.covariate_file = '/gpfs/space/home/a82371/MAGE/regenie_working_files/MAGE_LCL_covariates_added_sex.txt'
params.covariate_list = 'pheno_PC1,pheno_PC2,pheno_PC3,pheno_PC4,pheno_PC5,pheno_PC6,geno_PC1,geno_PC2,geno_PC3,geno_PC4,geno_PC5,geno_PC6,sex,AFR_covariate,AMR_covariate,EAS_covariate,EUR_covariate,SAS_covariate'
params.outdir = './'
params.prefix = 'MAGE_naive_LCL'



process.executor = 'slurm'
process.queue = 'amd'

includeConfig 'conf/base.config'
report {

  enabled = true
  file = 'regenie_report.html'

}

trace {

  enabled = true
  file = 'regenie_trace.txt'

}


singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}


def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
