// Analysis parameters

//params.step1_bgen = '/gpfs/space/home/a82371/LCL/TwinsUK/regenie_files/TwinsUk_HumanHap300_STEP1_genotyped_variants.bgen'
params.sample = '/gpfs/space/home/a82371/LCL/CAP/CAP_filtered_STEP2_added_sex.sample'
params.step2_bgen = '/gpfs/space/home/a82371/LCL/CAP/CAP_filtered_STEP2_unphaged.bgen'

params.phenotype_file = '/gpfs/space/home/a82371/LCL/CAP/CAP_naive_LCL_qcnormed_tmp_filt_gene_expression.tsv'
params.included_phenotype_ids = '/gpfs/space/home/a82371/LCL/CAP/CAP_analyzed_genes_ENSG00000166839.tsv'
params.covariate_file = '/gpfs/space/home/a82371/LCL/CAP/LCL_naive_LCL_covariates_added_sex.txt'
params.covariate_list = 'pheno_PC1,pheno_PC2,pheno_PC3,pheno_PC4,pheno_PC5,pheno_PC6,geno_PC1,geno_PC2,geno_PC3,geno_PC4,geno_PC5,geno_PC6,sex'
params.outdir = './'
params.prefix = 'CAP_naive_ENSG00000166839_LCL_EUR'


process.executor = 'slurm'
process.queue = 'amd'

includeConfig 'conf/base.config'
report {

  enabled = true
  file = 'regenie_report.html'

}

trace {

  enabled = true
  file = 'regenie_trace.txt'

}


singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}


def check_max(obj, type) {
  if(type == 'memory'){
    try {
      if(obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'time'){
    try {
      if(obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if(type == 'cpus'){
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
